/* large screen and also all the colors should be here so that
they can all be changed in one place instead of having to go
look for it all over the place*/

/*      LARGE SCREEN          */
@media only screen and (min-width: 1008px) {
  html{font-size: 28px;}
  .sign-up-container{
    width: 70%;
  }

}

/*       XXL-SCREENS          */
@media only screen and (min-width: 1901px){
  html{font-size: 36px;}

  .topnav{
    height: 80px;
    padding:0 10vw;
  }

  .topnav-right,.topnav-left,.logo ,.signin-button , .topnav-searchbar-form,.search-input, .search-btn{
  height: 56px;
  }
  .logo{
    width:56px;
    margin-right:32px;
  }


  .search-input{
    width:20vw;
    font-size: 32px;
  }
  .search-btn{
    width:5vw;
  }

  .signin-button {
    padding: 16px 48px;
    font-size:24px;
    border-radius: 8px;
    text-decoration: none;
    display: block;
  }


  .sign-up-container{
    font-size: 200%;
    padding: 2rem;
    width: 100%;
    background:rgba(69,71,85,0.8);
    opacity:0;
  }
  .input-fieldset input,.btn-bottom-edge{
    font-size: 150%;
  }
  .form-submit-btn{
    border-radius: 4rem;
    width: 20rem;
    height: 4rem;
    font-size: 100%;
  }

}







/*       COLORS          */
/*Dark*/




/*Light*/
.yellow-btn{
background-color: #eda948;
}
.sign-up-container,.sign-up-container a{
color: #fee6b8;
}
body{
  background-color: #454755;
}



.topnav{
  background-color: #282f3f;
}
.logo{
  background-color:#fee6b8;
}
.signin-button {
  background-color: #c61766;
  color: #fee6b8;
}

.search-btn{
  background-color:#454755;
  color:#fee6b8;
}
