/* large screen and also all the colors should be here so that
they can all be changed in one place instead of having to go
look for it all over the place*/

/*      LARGE SCREEN          */
@media only screen and (min-width: 1024px) and (max-width: 1919px) {
    html{

    }
    .sign-up-container,.login-container{
        width: 50%;
    }

    .story p,.title,.author-date{
        max-width: 50vw;
        width: 100%;
    }
    .title{
        font-size: 1.4vw;
    }
    .story p{
        font-size: 1.3vw;
        text-align:justify;
    }
    .media-story p,.next-media-story p{
        font-size: 1.3vw;
        margin-block-start: 0;
    }
    .media-story,.next-media-story{
        display:block;
    }

  .media-story{
    text-align:justify;
    font-family: Lato, sans-serif;
    margin: 0 0 0 5px;
    padding: 7px 5px;
    font-size: 1rem;
    width: 100%;
    float: none;
  }

  .media-story img{
    width: 75%;
    float: left;
    margin: 8px 8px auto;
  }

  .media-story video{
    margin: 5px;
    width: 75%;
    float: left;
  }
    /* .login-container{
        height: 55vh;
    } */

}

/*       XXL-SCREENS          */
/*@media only screen and (min-width: 1901px){
    html{font-size: 36px;}
    .sign-up-container,.login-container{
        max-width: 900px;
    }

    .topnav{
        height: 80px;
        padding:0 10vw;
    }

    .topnav-right,.topnav-left,.logo ,.signin-button , .topnav-searchbar-form,.search-input, .search-btn{
        height: 56px;
    }
    .logo{
        width:56px;
        margin-right:32px;
    }


    .search-input{
        width:20vw;
        font-size: 32px;
    }
    .search-btn{
        width:5vw;
    }

    .signin-button {
        padding: 16px 48px;
        font-size:24px;
        border-radius: 8px;
    }


    .sign-up-container,.login-container{
        !* font-size: 200%; *!
        padding: 1rem;
    }
    .input-fieldset input,.btn-bottom-edge{
        font-size: 150%;
    }
    .form-submit-btn{
        border-radius: 2rem;
        height: 2rem;
        width: 8rem;
        !* font-size: 100%; *!
    }
    .btn-bottom-edge{
        padding:0;
    }

}*/
