/*Default*/
html{font-size: 18px;}
*{
  box-sizing: border-box;
}
body{
  font-family: Arial;
}
.topnav{
  background-color: #282f3f;
  display: flex;
  flex-direction: row;
  height: 3rem;
  padding: 0 10%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.topnav-left{
  display: flex;
  align-items: center;
}
.logo{
  height: 2rem;
  width: 2rem;
  background-color: wheat;
}
.topnav-searchbar-form{
  display: flex;

  margin-left: 1rem;
  height: 2rem;
}
.topnav-searchbar-form input[type=text]{
  width: 80%;
  border: 1px solid grey;
}


.topnav-searchbar-form button{
  width: 20%;
  border: 1px solid grey;
}
.btn{
  height: 2rem;
  padding: 0 1rem;
  border:none;
  font-size: 1rem;
}
.pink-btn{
  background-color: #c61766;
  color: #fee6b8;
}



/* the section containing the sign up form and the logo*/
.sign-up-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#282f3f;
  padding: 1rem;
  font-family: sans-serif;
  margin: 1rem auto;
  width: 60%;
}
/* to have the button sit perfectly divided by the bottom border
of the section, sign-up-container has to have its bottom padding
equal to half the height of the button. specified in form-submit-btn*/
.prelim-logo{
  font-family: 'Dancing Script',cursive;
  font-size: 200%;
  font-weight: 600;
}
form{
  width: 100%;
}

/* -group the input and the label so we can space them out well
    -input-fieldset is different from the btn-bottom-edge because of the postioning*/
.input-fieldset{
  padding: 0.2rem 1rem;
}
.input-fieldset input{
  width: 100%;
}
.form-center{
  text-align: center;
}
.form-submit-btn{
  border-radius: 4rem;
  width: 8rem;
  height: 2rem;
  border: none;
  font-size: 1rem
}

.btn-bottom-edge{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}




/* screen between  650px and 1007px*/
@media only screen and (min-width: 651px)  {
  .topnav-searchbar-form{
    width:40vw;
  }
}
