/*Default*/
html{/* font-size: 18px; */}
*{
  box-sizing: border-box;
}
body{
  font-family: Arial;
}
.topnav{
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content:space-between;
  align-items:center;
  padding:0 1rem;
}

.topnav-right,.topnav-left,.logo ,.signin-button , .topnav-searchbar-form,.search-input, .search-btn{
height: 3.2rem;
}
.logo{
  width:3.2rem;

}
.topnav-left{
  display:flex;
}
.topnav-searchbar-form{
  display: flex;
}
.search-input{
  width:40vw;
  font-size: 2rem;
}
.search-btn{
  width:10vw;
  border:none;
}

.signin-button {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:1.8rem;
  cursor: pointer;
  border-radius: 0.5rem;

}




.btn{
  height: 1rem;
  padding: 0 1rem;
  border:none;
  font-size: 0.5rem;
}
/* the section containing the sign up form and the logo*/
.sign-up-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#282f3f;
  padding: 1rem;
  font-family: sans-serif;
  margin: 1rem auto;
  width: 100%;
  padding: 0.2rem 1rem;
}
.input-fieldset input{
  width: 100%;
}
.form-center{
  text-align: center;
}
.form-submit-btn{
  border-radius: 4rem;
  width: 8rem;
  height: 2rem;
  border: none;
  font-size: 1rem
}

.btn-bottom-edge{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.card,.next-card{
  display: flex;
  flex-direction: column;
  }
  .author-date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

  #author{
  font-weight:700;
  }
  #time{
  font-weight:100;
  }
  .title{
  text-align:center;
  }
  .story p{
  text-align:justify;
  }
  .story p,.title,.author-date,
  .media-story,.next-media-story{
  margin: 0 auto;
  }
  .media-story p,.next-media-story p{

  }

  .media-,.next-media-story{
    display: flex;
  }





/* screen between  650px and 1007px*/
@media only screen and (min-width: 651px)  {
  .topnav{
   height: 2rem;
   padding:0 1rem;
 }

 .topnav-right,.topnav-left,.logo ,.signin-button , .topnav-searchbar-form,.search-input, .search-btn{
 height: 1.6rem;
 }
 .logo{
   width:1.6rem;
   margin-right:1rem;
 }


 .search-input{
   width:40vw;
   font-size: 1rem;
 }
 .search-btn{
   width:5vw;
 }

 .signin-button {
   padding: 0.5rem 0.7rem;
   font-size:0.8rem;
   border-radius: 0.3rem;
 }
 .card,.next-card{
   padding: 20px 10px;
   width:90vw;
   margin: 0 auto 1vw auto;
   border-radius:10px;
  }
   #author{
   font-size:15px;
  }
   #time{
   font-weight:100;
   font-size:15px;
  }
   .story p,.title,.author-date{
   max-width: 75%;
   width: 100%;
  }
    .media-story,.next-media-story{
   display:block;
  }
    .media-story p,.next-media-story p{
    margin-block-start: 0;
  }
   .media-story img,.media-story video,
   .next-media-story img, .next-media-story video{
     padding:0 15px 0 5px;
    width:50%;
    object-fit:contain;
    height:50%;
    float:left;
  }


}
