/*screen sizes less than 650px*/
@media only screen and (max-width: 650px){
  .topnav{
    padding: 0;
  }
  .topnav-searchbar-form {
    margin-left: 0.3rem;
    max-width: 200px;
  }
  .btn{
    font-size: 12px;
  }










  .sign-up-form{
    width: 100%;
  }
  .sign-up-container{
    width: 100%;
  }
  .input-fieldset{
    padding: 0.2rem 1rem;
  }
  .input-fieldset input{
    width: 100%;
  }
  .form-submit-btn {
  font-size: 15px;
}

}
