/*screen sizes less than 650px*/
@media only screen and (max-width: 680px){

  .topnav-left{
    left: 4px;
  }

  .topnav-right{
    right: 4px;
  }

  .topnav-right p{
    display: none;
  }

  .search-input{
    width: 100px;
    font-size: 1rem;
  }
  .search-btn{
    width:10vw;
  }
  .new-to-text p{
    padding:1rem;
  }

  .signin-button {
    display:none;
  }

  .login-dropdown{
    position: relative;
    display: block;
  }


  /*.login-dropdown-content{
    display: block;
    list-style-type: none;
    width:120px;
    border-radius: 0  0 5px 5px;
    position: absolute;
    top: 39px;
    right: 0px;
    z-index: 3;
    padding: 0 3px 5px 3px;
    margin: 0;
  }*/
  .user-icon{
    font-size: 0.6rem;
    display:block;
  }
  #outsider-dropdown-btn{
    display: block;
  }
  .outsider-dropdown-content{
    display: block;
    list-style-type: none;
    width:120px;
    border-radius: 0  0 5px 5px;
    position: absolute;
    top: 39px;
    right: 0px;
    z-index: 3;
    padding: 0 3px 5px 3px;
    margin: 0;
  }
  .sign-up-form,.login-form{
    width: 100%;
  }

  .input-fieldset input{
    height: 1.5rem;
  }

  .input-fieldset{
    padding: 0.2rem 1rem;
  }
  .input-fieldset input{
    width: 100%;
  }
  .form-submit-btn {
    font-size: 15px;
    width:60%;
    max-width: 150px;
  }

  main{
    width: 98%;
    margin-left: 1%;
  }

  h1{
    margin-top: 90px;
    margin-left: 1%;
    width: 98%;
  }

  .card{
    width: 100%;
  }

  .media-story{
    margin-left: 0;
  }
  .media-story img{
    margin: 5px 0;
    width: 100%;
    float: left;
  }

  .media-story video{
    margin: 5px 0;
    width: 100%;
    float: left;
  }
}
